{% extends 'home/base.html' %}
{% block title %} {% endblock title %}
{% block content %}
{% include 'include/alert.html' %}
<div class=""><h>Welcome - {{m.name}}</h></div>
{% include 'include/marketing_menu.html' %}

<div class="container">
    <div class="card-container">
        {% for bill in order_master %}
        <div class="card">
            <div style="display: flex; justify-content: space-evenly;">
                <h6>Bill: {{ bill.order_filter }}</h6>
                <div class="{% if bill.status == 'Pendding' %}text-danger{% endif %}">Status: {{bill.status}}</div>
            </div>
            <p>{{bill.dealer.name|slice:25}}...</p>
            <p>Total Amount: {{ bill.total_price }}</p>
            <p> {{ bill.ordered_date }}</p>
            <a href="/marketing/complate_view_order/{{bill.order_filter}}" class="btn btn-success ">View</a>        </div>
        {% endfor %}
    </div>
    </div>
    <style>
        a{
            text-decoration: none;
        }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
        justify-content: center;
    }
    
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .card h2 {
        margin-top: 0;
    }
    
    .card p {
        margin: 8px 0;
    }
    </style>


<style>

.pagination {
        display: flex;
        list-style: none;
        padding: 10px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        justify-content: center;
        margin-top: 50px;
    }
    .pagination li {
        margin: 0 5px;
    }
    .pagination a {
        text-decoration: none;
        color: #007bff;
        padding: 8px 14px;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    .pagination a:hover {
        background-color: #007bff;
        color: white;
    }
    .pagination .active a {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
    }
    .pagination .disabled a {
        color: #ccc;
        pointer-events: none;
        border-color: #ddd;
        background: #f1f1f1;
    }

</style>

<ul class="pagination">
<li {% if order_master.has_previous %}{% else %}class="disabled" {% endif %}>
    <a {% if order_master.has_previous %}href="?page={{ order_master.previous_page_number }}"{% endif %}>«</a>
</li>
<li><a href="#">Page</a></li>
<li class="active"><a href="#">{{ order_master.number }}</a></li>
<li><a href="#">OF</a></li>
<li><a href="#">{{ order_master.paginator.num_pages }}</a></li>
<li {% if order_master.has_next %}{% else %}class="disabled" {% endif %}>
    <a {% if order_master.has_next %}href="?page={{ order_master.next_page_number }}"{% endif %}>»</a>
</li>
</ul>

{% endblock content %}