{% extends 'office/base.html' %}
{% block title %} Add Order {% endblock title %}
{% block content %}

<style>


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
}
    .hedline{
        font-size: 1rem;
        text-align: center;
        font-family: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }


.dealer_box{
    
    padding: 5px;
    display: grid;
    grid-template-columns: 100%;
    
}
.titale{
    text-align: center;
}
.address{
    text-align: center;
}
.dealer_content{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.list_box{
    border: solid 1px black;
    padding: 2px;
}

.list_title{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid black;
}
.product_title{
        font-size: 1rem;
        text-align: center;
        font-family: bold;
        margin-top: 5px;
        margin-bottom: 5px;

}

.product_box{
margin-top: 1rem;

    padding: 5px;
    width: 100%;
    border: solid 1px black;
}

.product_content{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
   
}
.product_btn{
    margin-top: 25px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}

.product_btn input{
    width: 80%;
}
.cart_list{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    border-bottom: 1px solid black;
}

.product_price{
    margin-top: 25px;
    margin-bottom: 15px;
    display: grid;
    column-gap: 1rem;
    grid-template-columns:auto auto auto auto;
}
.product_price input{
    width: 80%;
}
.Total_Amount{
    font-weight: 700;
    color: black;
    font-size: 20px;
}
</style>
<div class="fixed-top text-end bg-white"   ><strong id="all_qty"  class="badge bg-danger">{{all_qty}}</strong> - एकुण नग </div>
<input type="hidden" id="employee_id" value="{{e.id}}"></input>
<input type="hidden" id="dealer_id" value="{{d.id}}"></input>

<div class="container mt-5">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
</div>


<div class="dealer_box">
    <div class="titale"><h5>{{d.dealer_shope_name}}</h5></div>
    <div class="address"><h6>{{d.dealer_address}}</h6></div>
    <div class="dealer_content">
        <div class="dealer_name">name- {{d.dealer_name}}</div>
        <div class="mobile">Mobile- {{d.dealer_mobile}}</div>
    </div>

      </div>





 <div class="list_box">
<div class="list_title">
    <div>Product Name</div>
    <div>Price</div>
    <div>Qty</div>
    <div>Total Price</div>
    <div>Remove</div>
</div>
<div id="cart_result">
{% for c in product%}
<div  class="cart_list">
    <div>{{c.product_name}}</div>  
    <div>{{c.price}}</div>
    <div>{{c.qty}}</div>
    <div>{{c.total_price}}</div> 
    <div><form action="" method="POST">{% csrf_token %}<input type="hidden" name="cart_id" value="{{c.id}}"><button type="submit" class="btn btn-danger my-2" name="Delete">X</button></form></div> 
</div>

{% endfor %}
</div>     
Total Amount Rs.<input type="readonly" id="total_amount" value="{{total_amount}}" size=5 class="text-center Total_Amount" disabled></input>
<h5>Thank You Visit Again</h5>

<div class="py-2 " id="place_btn" style="display: none;"><form action="" method="POST">{% csrf_token %}<h6>tally invoice number</h6><input type="" name="tally_invoice_number" placeholder="Enter tally invoice number"> <button type="submit" class="btn btn-danger" name="Place_order">Place Order</button></form></div>
</div>



<br>
 <div class="mb-3">
        <input type="text" placeholder="Search And Add Product..." class="form-control" id="product_words" oninput="search_product()" required>
  </div>
  <div id="product_result"></div>






{% block script %}
<script>





function plus(id){
    var price = document.getElementById('prc'+id).value;
    if (price==''){
        document.getElementById('prc'+id).style.borderColor ='red';return false;
        }

        var qty = document.getElementById('qty'+id).value;
    if (qty==''){
        document.getElementById('qty'+id).style.borderColor ='red';return false;
        }


    if(qty < 10000){
      qty++;
    document.getElementById('qty'+id).value=qty;




    p=qty*price
    p = Math.ceil(p);
    document.getElementById('set_prc'+id).innerText=p;
      //speak code
      console.log(p)
    const msg = new SpeechSynthesisUtterance;
    msg.text=qty;
    
    msg.voice=speechSynthesis.getVoices()[1];
    speechSynthesis.speak(msg);

    }
      }
      
    // minus btn code
  
      function minus(id,price){
        var price = document.getElementById('prc'+id).value;
    if (price==''){
        document.getElementById('prc'+id).style.borderColor ='red';return false;
        }
        var qty = document.getElementById('qty'+id).value;
    if (qty==''){
        document.getElementById('qty'+id).style.borderColor ='red';return false;
        }

    if(qty > 1){
    qty--;
    document.getElementById('qty'+id).value=qty;
    p=qty*price
    p = Math.ceil(p);
    document.getElementById('set_prc'+id).innerText=p;

          //speak code
      
    const msg = new SpeechSynthesisUtterance;
    
    msg.text=qty;
    
    msg.voice=speechSynthesis.getVoices()[1];
    speechSynthesis.speak(msg);
    }
      }
      
    



 function search_product(){
    var words = document.getElementById('product_words').value
    //console.log(words)
    $.ajax({
    url: "{% url 'product_filter' %}",
    method: "GET",
    data:{
        words:words,
      
    },
    success: function(data){
        $("#product_result").empty()
        for (var key=0; key<1000; key++){
            //${data.product[key].id}

            temp=`<div class="product_box" >
                <input  type="hidden" id="myText${data.product[key].id}" value="${data.product[key].type}"></input>
    <div class="product_title" >${data.product[key].product_name}</div>
    <div class="product_content">
        <div class="category">${data.product[key].category}</div>
        <div class="category">${data.product[key].type}</div>
    </div>
    <div class="product_price">
        <div> Price</div>
        <div> <input type="number" id="prc${data.product[key].id}" placeholder="Enter Price Hear" ></input> </div>
        <div> Total  </div>
        <div> <strong id="set_prc${data.product[key].id}"></strong></div>
        </div>
    <div class="product_btn">
        <div class="minus"><button type="button" onclick="minus(${data.product[key].id})" class="btn btn-success px-3">-</button></div>
        <div class="qty"><input type="number" id="qty${data.product[key].id}" oninput="cl_cost(${data.product[key].id})" placeholder=" Qty " ></input></div>
        <div class="plus"><button type="button" onclick="plus(${data.product[key].id},3)" class="btn btn-success px-3" >+</button></div>
        <div class="confirm"><button type="button" class="btn btn-danger mx-auto" onclick=add_to_cart(${data.product[key].id})>Confirm </button></div>
    </div>

</div>`
        $("#product_result").append(temp);
        }
        
    }
    })
 }




  //plus code
  


function add_to_cart(id){
    var employee_id = document.getElementById('employee_id').value;
    var dealer_id = document.getElementById('dealer_id').value;
    var qty = document.getElementById('qty'+id).value;
    var price = document.getElementById('prc'+id).value;
    if (price==''){

  document.getElementById('prc'+id).style.borderColor ='red';return false;
  }

  if (qty==''){

document.getElementById('qty'+id).style.borderColor ='red';return false;
}

    const textInput = document.querySelector('#myText'+id);
    sp=(qty + 'Quantity')
    const msg = new SpeechSynthesisUtterance;
    msg.text=(textInput.value + sp  );
    
    msg.voice=speechSynthesis.getVoices()[2];
    speechSynthesis.speak(msg);



    $.ajax({
    url: "{% url 'add_to_cart' %}",
    method: "GET",
    data:{
        employee_id:employee_id,
        dealer_id:dealer_id,
        product_id:id,
        qty:qty,
        price:price
    },
    success: function(data){
        ng=(data.ng)
        
        document.getElementById('total_amount').value=(data.total_amount)
        document.getElementById('all_qty').innerHTML=ng
        $("#cart_result").empty()
        for (var key=0; key<1000; key++){
            temp=`<div class="cart_list">
    <div>${data.cart[key].product_name}</div>
    
    <div>${data.cart[key].price}</div>
    <div>${data.cart[key].qty}</div>
    <div>${data.cart[key].total_price}</div>
   
    
    <div><a onclick="remove_cart(${data.cart[key].id})" class="btn btn-danger my-2">X</a></div> 
</div>
            `
             $("#cart_result").append(temp);place_btn()
        }
    }
    })
}


function remove_cart(id){
    $.ajax({
      url: "{% url 'remove_cart_marketing' %}",
      method:'GET',
      data:{
        id:id,
      },
      success: function (data){
        if (data.status == 1)
                  //alert("Delete successfully ")
                  window.location.reload()
       
      }
  
    })
  }
  
place_btn()

function place_btn(){
    a=document.getElementById('total_amount').value;
    if(a != 0 ){
        document.getElementById('place_btn').style.display='';
    }

}



function cl_cost(id){
    var qty = document.getElementById('qty'+id).value;
    var price = document.getElementById('prc'+id).value;
    p=qty*price
    p = Math.ceil(p);
    document.getElementById('set_prc'+id).innerText=p;
}

</script>





{% endblock script %}



{% endblock content %}
