{% extends 'office/base.html' %}
{% block title %} Admin Dashboard{% endblock title %}
{% block content %}
{% load qr_tag %}
<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}

.main_box{
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
}
.box_headline{
    font-weight: 700;
    padding-top: 5px;
    height: 35px;
    background-color: rgb(222, 222, 222);
    -webkit-border-radius: 20px 20px 0px 0px;
-moz-border-radius: 20px 20px 0px 0px;
border-radius: 20px 20px 0px 0px;
text-align: center;
}

.box_items{
    margin-left: 4%;
    margin-top: 10px;
    padding-bottom: 15px;
    margin: 10px;
}

.refresh_btn{
    margin-top: 3px;
    text-align: center;
    position: fixed;
    top: 0;
}
.in{
  background-color: rgb(208, 255, 194);
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
</style>


  <div class='refresh_btn'>
    <a href="/crenta_admin/crenta_admin_dashboard" class="btn btn-info my-1">Refresh</a>
  </div>
  <br>
<br>
  <div class="in_stock">
    <h6 class="text-center">Stock list</h6>
    {% for p in pe %}
    <div class="in">
      <div>{{p.product.product_name}}</div>
      <div>Stock {% total_stock_qty p.product_id %}</div>
    </div>
    {% endfor %}

  </div>
<br>

  <div>
    <a href="/crenta_admin/crenta_admin_logout" class="btn btn-danger my-1">Logout</a>
  </div>




{% endblock content %}