{% extends 'office/base.html' %}
{% block title %} Admin Dashboard{% endblock title %}
{% block content %}
{% load qr_tag %}
<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search_footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1212121;
  input{
    width: 100%;
  }
}
body{
  height: 100%;
  width: 100%;
}

.main_box{
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
}
.box_headline{
    font-weight: 700;
    padding-top: 5px;
    height: 35px;
    background-color: rgb(222, 222, 222);
    -webkit-border-radius: 20px 20px 0px 0px;
-moz-border-radius: 20px 20px 0px 0px;
border-radius: 20px 20px 0px 0px;
text-align: center;
}

.box_items{
    margin-left: 4%;
    margin-top: 10px;
    padding-bottom: 15px;
    margin: 10px;
}

.refresh_btn{
    margin-top: 3px;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}
.in{
  background-color: rgb(208, 255, 194);
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
.todays_production_box{
    width: 100%;
    display: flex;
    justify-content: center;
 }
 .todays_production{
    background-color: rgb(222, 255, 253);
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
 }
 .product_main_box{
    margin-bottom: 50px;
 }
 .product_box{
    background-color: rgb(242, 217, 255);
    margin-bottom: 10px;
    padding: 5px;
 }
 .search_batch{
  background-color: rgb(193, 255, 255);
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
 }
 .batch_name{
  background-color: rgb(255, 211, 237);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  line-height: 10px;
 }
</style>


  <div class='refresh_btn'>
    <a href="/crenta_admin/crenta_admin_dashboard" class="btn btn-info my-1">Refresh</a>
  </div>
  <br>
<br>
<div id="batch_result"></div><br><br>
<div id="product_result">




  <div>
    <div class="todays_production_box">
      <h6 class="todays_production">Todays Production </h6>
    </div>
    
    <div class="product_main_box" id="todays_production">
      {% if today_p|length == 0 %}No Production Added Today{% endif %}
      {% for p in today_p %}
        <div class="product_box"onclick="fetch_batch_admin('{{p.product_id}}')" >
            <div><strong>{{p.product.product_name}}</strong>&nbsp&nbsp&nbsp{% today_production p.product_id %}</div>
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="in_stock">
      <h6 class="text-center">Stock list</h6>
      {% for p in pe %}
      <div class="in"onclick="fetch_batch_admin('{{p.product_id}}')" >
        <div>{{p.product.product_name}}</div>
        <div>Stock {% total_stock_qty p.product_id %}</div>
      </div>
      {% endfor %}

    </div>
  <br>
  </div>

  <div>
    <a href="/crenta_admin/crenta_admin_logout" class="btn btn-danger my-1 mb-5" >Logout</a>
  </div>


<div class="search_footer">
  <input type="text" oninput="search_product_admin()" id="search_product_input" class="form-control" placeholder="Search Product" >
</div>



<script>

function search_product_admin(){
  search_product_input = document.getElementById('search_product_input').value;
  $.ajax({
  url: "{% url 'search_product_admin' %}",
  method: "GET",
  data:{
    words:search_product_input
        },
      success: function(res){
        $("#product_result").html(res.t);
        $("#batch_result").empty();
      }
   })
  }
  
  function fetch_batch_admin(id){
  $.ajax({
  url: "{% url 'fetch_batch_admin' %}",
  method: "GET",
  data:{
    pid:id
      },
      success: function(res){
        $("#batch_result").html(res.t);
      }
   })
}



</script>





{% endblock content %}