{% extends 'office/base.html' %}
{% block title %} Report{% endblock title %}
{% block content %}
{% load stock_tag %}
<style>
*{
  margin: 0;
  padding: 0;

}
.btn_list{
  display: grid;
  grid-template-columns: auto auto;
  

}

</style>
<div class="container">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-2 ">
            {% include 'include/office_menu.html' %}  
           </div>

        
            <div class="col-10">
              <div class="btn_list">
                
                <div class="col-6"><a href="/sell_product_report/"   class="btn btn-success " >Search Sell Product </a></div>
                <div class="col-6"><a href="/sell_product_list/"   class="btn btn-success " > Sell Product List </a></div>

          </div>
      </div>

  
</div>

{% endblock content %}

{% block script %}
<script>

  
  </script>
{% endblock script %}