{% extends 'office/base.html' %}
{% block title %} Office Dashboard{% endblock title %}
{% block content %}
{% load qr_tag %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .p_list{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .box{
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        font-weight: 600;
        
    }
</style>

<div class="container employee_name">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
    <input type="hidden" value="{{e.id}}" id="eid" class="form-control" required>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-2 office_menu">
            {% include 'include/office_menu.html' %}  
        </div>
        <div class="col-10">
            <!--* content -->
                <div class="text-center"><h6>Unused Tag List</h6></div>
                <div class="p_list">
                    {% for p in pr %}
                        <div class="box">
                            <div>{{p.product.product_name}}</div>
                            <div style="display: flex; gap: 10px;font-weight: 400;">
                                <div style="display: flex;margin-bottom: -15px;">Un Used Tag &nbsp;{% unused_tag_list p.product_id as un %}<p {% if un < 11 %} style="font-weight: 700; color: red;" {% endif %}>{{un}}</p></div>
                                <div style="display: flex;margin-bottom: -15px;">Used &nbsp;{% used_tag_list p.product_id as un %}<p style="font-weight: 700; color: green;">{{un}}</p></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <!--// end content //-->
        </div>
    </div>
</div>
{% endblock content %}