<style>
    .buttons{
        display: flex;
        gap: 10px;
        overflow: scroll;
    }
</style>
<div class="buttons">
    <div><a  href="/marketing/marketing_home/" class="my-1 {% if request.path == '/marketing/marketing_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a></div>
    <div><a  href="/marketing/order/" class="my-1 {% if request.path == '/marketing/order/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">New Order</a></div>
    <div><a  href="/marketing/completed_order/" class="my-1 {% if request.path == '/marketing/completed_order/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Old Orders</a></div>
    <div><a  href="/store_logout/" class="my-1 btn btn-danger">Logout</a></div>
</div>


 