<div class="row">
    <a  href="/office_dashboard" class="my-1 {% if request.path == '/office_dashboard' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Dashboard</a>
    <a  href="/batch_number" class="my-1 {% if request.path == '/batch_number' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Batch Number</a>
    <a  href="/qr_code/qr_code" class="my-1 {% if request.path == '/qr_code/qr_code' %}btn btn-warning{% else %}btn btn-primary{% endif %}">QR Code</a>
    <a  href="/qr_code/verify_qr_code" class="my-1 {% if request.path == '/qr_code/verify_qr_code' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Verify QR Code</a>
    <a href="/product" class="my-1 {% if request.path == '/product/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Product</a>
    <a href="/add_product"  class="my-1 {% if request.path == '/add_product/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Production / Return </a>
    <a href="/sell_product" class="my-1 {% if request.path == '/sell_product/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Sell Product</a>
    <a href="/stock_product" class="my-1 {% if request.path == '/stock_product/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Stock Product</a>
    <a href="/dealers" class="my-1 {% if request.path == '/dealers/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Dealers</a>
    <a href="/order/" class="my-1 {% if request.path == '/order/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Orders</a>
    <a href="/production_status" class="my-1 {% if request.path == '/production_status/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Production Status</a>
    <a href="/report" class="my-1 {% if request.path == '/report/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Report</a>
    <a href="/office_logout" class="btn btn-danger my-1">Logout</a>
</div>