{% extends 'office/base.html' %}
{% block title %} Office Dashboard{% endblock title %}
{% block content %}
<div class="container">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-2 ">
            {% include 'office/office/office_menu.html' %}  
           </div>
            <div class="col-10">
              <div>
                  <div class="container mt-1 p-1 border rounded">
                      {% if messages %}
                      
                      {% for message in messages %}
                      <div class="alert alert-success text-center mb-3">{{message}}</div>
                      {% endfor %}
                      {% endif %}
       

                      <table class="table">
                        <h6 class="text-center"> Today Production Product List </h6>
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">category</th>
                              <th scope="col">type</th>
                              <th scope="col">type</th>
                              <th scope="col">add Qty</th>
                              <th scope="col">Added By</th>
                              <th scope="col">Date</th>
                            </tr>
                          </thead>
                          <tbody>{% for p in add_p %}
                            <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{p.product.product_name}}</td>
                            <td>{{p.product.category}}</td>
                            <td>{{p.product.type}}</td>
                            <td>{{p.type}}</td>
                            <td>{{p.qty}}</td>
                            <td>{{p.employee.employee_name}}</td>
                            <td>{{p.ordered_date}}</td>
                            </tr>
                          
                           
                            {% endfor %}
                          </tbody>
                          
                          </table>
                          


  <div class="container">
    <p>Search Product</p>
    <form method="GET" action="">
    <input type="text" class="form-control" name="search_product"  placeholder="Search Product">
    <button type="submit" class="btn btn-primary my-2" name="Search">Search</button>
  </form>
  </div>

  <div class="container" >
    {% for p in product %}
    <form action="" method="POST">
        {% csrf_token %}
<div class="border text-center my-5" >
    <input type="hidden" name="product_id" value="{{p.id}}">
    <div class="my-1"><h2 > {{p.product_name}} </h2></div>
    <div class="row">
        <div class="col-6"><h6 > {{p.category}} </h6></div>
        <div class="col-6"><h6 >{{p.type}} </h6></div>
    </div>
    <br>
    <div class="row mb-2 mx-1">
        <div class="col-4">
            <select id="type" class="form-control" name="type" required>
                <option value="">Type</option>
                <option value="production">production</option>
              <option value="return">Return</option>
              <option value="consumption">Consumption </option>
                </select>
            </div>
        <div class="col-4"><input type="number" class="form-control" id="qty" name="qty" placeholder="QTY" required> </div>
        <div class="col-4"><button type="submit" class="btn btn-primary" name="Add">Add</button> </div>
</div>
</div>
</div>
</form>
{% endfor %}
  </div>







              </div>

          </div>
      </div>

   
</div>




  
  


{% endblock content %}