{% extends 'office/base.html' %}
{% block title %} Dealers {% endblock title %}
{% block content %}
<div class="container">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
</div>



<div class="container my-3">
    <div class="row">
        <div class="col-2 ">
            {% include 'office/office/office_menu.html' %}  
           </div>

        
            <div class="col-10">
              <div>
                  <div class="container mt-1 p-1 border rounded" >
                      {% if messages %}
                      
                      {% for message in messages %}
                      <div class="alert alert-success text-center mb-3">{{message}}</div>
                      {% endfor %}
                      {% endif %}
                      <div class="row">
                        <div class="col-6"><a href=""  data-bs-toggle="modal" data-bs-target="#Add_Dealer_Modal" class="btn btn-success " >Add New Dealer </a></div>
                      </div>

                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Shope Name</th>
                              <th scope="col">Dealer Name</th>
                              <th scope="col">Mobile</th>
                              <th scope="col">Added By</th>
                            </tr>
                          </thead>
                          <tbody>{% for d in d %}
                            <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{d.dealer_shope_name}}</td>
                            <td>{{d.dealer_name}}</td>
                            <td>{{d.dealer_mobile}}</td>
                            <td>{{d.employee.employee_name}}</td>
                            <td><a href="" class="text-bg-info p-2"data-bs-toggle="modal" data-bs-target="#Edit_Product_Modal_{{d.id}}" >All Details</a></td>
                            
                            </tr>
                          
                            
                          <!-- Edit Product Modal -->
                         
                          {% csrf_token %}
                          <div class="modal fade" id="Edit_Product_Modal_{{d.id}}" tabindex="-1" aria-labelledby="Edit_Product_Modal_{{d.id}}" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="Edit_Product_Modal_{{d.id}}">Details</h1>
    
                              </div>
                              <div class="modal-body">
                               
                        
                                <div class="mb-3">
                                  <label for="dealer_shope_name" class="form-label">dealer shope name </label>
                                  <input type="text" class="form-control" id="dealer_shope_name" name="dealer_shope_name" value="{{d.dealer_shope_name}}" readonly>
                                </div>
                              
                              
                              
                                    <div class="mb-3">
                                  <label for="dealer_name" class="form-label">dealer name </label>
                                  <input type="text" class="form-control" id="dealer_name" name="dealer_name" value="{{d.dealer_name}}" readonly>
                                </div>
                              
                                    <div class="mb-3">
                                  <label for="dealer_mobile" class="form-label">dealer mobile </label>
                                  <input type="number" class="form-control" id="dealer_mobile" name="dealer_mobile" value="{{d.dealer_mobile}}" readonly>
                                </div>
                              

                              
                              
                                <div class="mb-3">
                                 <label for="dealer_address" class="form-label">Address</label>
                                  <input type="text" class="form-control" id="dealer_address" name="dealer_address" value="{{d.dealer_address}}" readonly>
                                </div>
                              
                              
                                    <div class="mb-3">
                                 <label for="location" class="form-label">Location </label>
                                  <input type="text" class="form-control" id="location" name="location" value="{{d.location}}">
                                </div>
                          
                 
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                
                              </div>
                              </div>
                            </div>
                            </div>
                          </form>
                          
                          
                          
                            
    
                            {% endfor %}
                          </tbody>
                          
                          </table>
                          
                          


<!-- Pagination -->
 
                          <div class="container">
                            <div class="mx-5">
                            <nav aria-label="...">
                              <ul class="pagination">
                                {% if d.has_previous %}
                                <li class="page-item ">
                                  <a class="page-link" href="/dealers/?page={{d.previous_page_number}}">Previous</a>
                                </li>
                                <li class="page-item ">
                               <a class="page-link" href="/dealers/?page=1" >First</a>
                              </li>
                                {% endif %}
                          
                                <li class="page-item " aria-current="page">
                                  <a class="page-link" href="/dealers/?page=2">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="/dealers/?page=3">3</a></li>
                                {% if d.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="/dealers/?page={{d.next_page_number}}">Next</a>
                                </li>
                                {% endif %}
                              </ul>
                            </nav>
                          </div>
                          </div>
                          <!-- Pagination -->

              </div>

          </div>
      </div>

  
</div>


<!-- Add Dealers Modal -->
<form action="" method="POST">
  {% csrf_token %}
  <div class="modal fade" id="Add_Dealer_Modal" tabindex="-1" aria-labelledby="Add_Dealer_Modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="Add_Product_Modal">Add New Dealer</h1>
        
      </div>
            
      <div class="modal-body">

 
        <div class="mb-3">
            <label for="dealer_shope_name" class="form-label">dealer shope name </label>
            <input type="text" class="form-control" id="dealer_shope_name" name="dealer_shope_name" required>
          </div>
        
        
        
              <div class="mb-3">
            <label for="dealer_name" class="form-label">dealer name </label>
            <input type="text" class="form-control" id="dealer_name" name="dealer_name" required>
          </div>
        
              <div class="mb-3">
            <label for="dealer_mobile" class="form-label">dealer mobile </label>
            <input type="number" class="form-control" id="dealer_mobile" name="dealer_mobile" required>
          </div>
        

        
        
          <div class="mb-3">
           <label for="dealer_address" class="form-label">Address</label>
            <input type="text" class="form-control" id="dealer_address" name="dealer_address" required>
          </div>
        
        
              <div class="mb-3">
           <label for="location" class="form-label">Location </label>
            <input type="text" class="form-control" id="location" name="location" >
          </div>
        

    
      </div>
                
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="Add">Submit</button>
      </div>
      </div>
    </div>
    </div>
  
  </form>
  
 
{% endblock content %}