{% extends 'office/base.html' %}
{% block title %} Office Dashboard{% endblock title %}
{% block content %}
{% load stock_tag %}
<div class="container">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
</div>



<div class="container my-3">
    <div class="row">
        <div class="col-2 ">
            {% include 'office/office/office_menu.html' %}  
           </div>

        
            <div class="col-10">
              <div>
                  <div class="container mt-1 p-1 border rounded" >
                      {% if messages %}
                      
                      {% for message in messages %}
                      <div class="alert alert-success text-center mb-3">{{message}}</div>
                      {% endfor %}
                      {% endif %}
            

                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                         
                              <th scope="col">Type</th>
                              <th scope="col">Order Qty </th>
                              <th scope="col">Stock Qty</th>
                              <th scope="col">Status</th>

                            </tr>
                          </thead>
                          <tbody>{% for p in p %}
                            <tr>
                            <th ><strong class="forl">{{forloop.counter}}</strong></th>
                            <td>{{p.product_name}}</td>
                            <td>{{p.type}}</td>
                            <td> Order Qty <strong class="order_qty"> {% order_qty p.product_id %} </strong></td>
                            <td>Stock <strong class="stock_qty">{% call_stock p.product_id %} </strong></td>
                            <td><strong id="set{{forloop.counter}}"></strong></td>
                            
                            </tr>
                            {% endfor %}
                          </tbody>
                          </table>
                          
                        <!-- Pagination -->
 
                          <div class="container" style="display: none;">
                            <div class="mx-5">
                            <nav aria-label="...">
                              <ul class="pagination">
                                {% if p.has_previous %}
                                <li class="page-item ">
                                  <a class="page-link" href="/product/?page={{p.previous_page_number}}">Previous</a>
                                </li>
                                <li class="page-item ">
                               <a class="page-link" href="/product/?page=1" >First</a>
                              </li>
                                {% endif %}
                          
                                <li class="page-item " aria-current="page">
                                  <a class="page-link" href="/product/?page=2">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="/product/?page=3">3</a></li>
                                {% if p.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="/product/?page={{p.next_page_number}}">Next</a>
                                </li>
                                {% endif %}
                              </ul>
                            </nav>
                          </div>
                          </div>
                          <!-- Pagination -->

              </div>

          </div>
      </div>

  
</div>

{% endblock content %}

{% block script %}
<script>

  const order_qty=document.querySelectorAll('.order_qty');
  const sqty=document.querySelectorAll('.stock_qty');
  const forl=document.querySelectorAll('.forl');


  //console.log(forl)
  
  stock(order_qty,sqty,forl)
  function stock(order_qty,sqty,forl){
    for (var key=0; key<order_qty.length; key++){
      stock_qty = sqty[key].innerText;
      o_qty = order_qty[key].innerText;
      fr = forl[key].innerText;
      console.log(fr)
        document.getElementById('set'+ fr).innerHTML=`<h5 class="text-danger">${stock_qty - o_qty}</h5>`
    }
  
  }
  
  
  </script>
{% endblock script %}