{% extends 'office/base.html' %}
{% block title %} Stock {% endblock title %}
{% block content %}




<div class="container">
  <div class=""><h>Welcome - {{e.employee_name}}</h></div>
</div>
<div class="container my-3">
  <div class="row">
    <div class="col-2 ">
      {% include 'office/office/office_menu.html' %}  
     </div>
     <div class="col-10">
      <div class="container border">
        <p>Search Product</p>
        <form method="GET" action="">
        <input type="text" class="form-control" name="search_product"  placeholder="Search Product">
        <button type="submit" class="btn btn-primary my-2" name="Search">Search</button>
      </form>
      </div>

      <div class="container border" >
        {% for p in product %}
          <div class="border text-center my-5 " >  
            <div class="row text-center">
              <div class="col-6"><h3 > {{p.product_name}} </h3></div>
              <div class="col-2"><h6 > {{p.category}} </h6></div>
              <div class="col-2"><h6 >{{p.type}} </h6></div>
              <div class="col-2"><a href="/view_stock/{{p.id}}/" class="btn btn-primary">View Stock </a></div>
            </div>
          </div>

          {% endfor %}
      </div>
     </div>

  </div>
</div>






{% endblock content %}