
<a href="/order/pending_order/" class="{% if request.path == '/order/pending_order/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Pending</a>
<a href="/order/accepted_order/" class="{% if request.path == '/order/accepted_order/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Accepted</a>
<a href="#" class="btn btn-success">Packed</a>
<a href="#" class="btn btn-success">On The Way</a>
<a href="#" class="btn btn-success">Delivered</a>
<a  href="/order/cancel_order/" class="{% if request.path == '/order/cancel_order/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Cancel</a>