{% extends 'office/base.html' %}
{% block title %} order {% endblock title %}
{% block content %}

<style>
.order_menu{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;


}
</style>

<div class="container">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
</div>



<div class="container my-3">
    <div class="row">
        <div class="col-2 ">
            {% include 'office/office/office_menu.html' %}  
           </div>

           
            <div class="col-10">
                <div class="order_menu">
                {% include 'office/order_menu.html' %} 
            </div>
      </div>

  
</div>



  
 
{% endblock content %}