{% extends 'office/base.html' %}
{% block title %} View Stock {% endblock title %}
{% block content %}

<div class="container">
    <div class=""><h>Welcome - {{e.admin_name}}</h></div>
</div>

<div class="container my-3">
    <div class="row">
      <div class="col-sm-2">
            {% include 'office/admin/admin_menu.html' %}  
           </div>
           <div class="col-10">
            {% if messages %}
                      
            {% for message in messages %}
            <div class="alert alert-danger text-center mb-3">{{message}}</div>
            {% endfor %}
            {% endif %}
            <div class="container border">
                <p>Search Product</p>
                <form method="GET" action="">
                <input type="text" class="form-control" name="search_product"  placeholder="Search Product">
                <button type="submit" class="btn btn-primary my-2" name="Search">Search</button>
              </form>
              </div>
              <div class="container border" >
                {% for p in product %}
                <form method="GET" action="">
                  <div class="border text-center my-5 " >  
                    <div class="row text-center">
                        <input type="hidden" name="product_id" value="{{p.id}}">
                      <div class="col-6"><h3 > {{p.product_name}} </h3></div>
                      <div class="col-2"><h6 > {{p.category}} </h6></div>
                      <div class="col-2"><h6 >{{p.type}} </h6></div>
                      <div class="col-2"><button type="submit" class="btn btn-primary my-2" name="Select">Select</button></div>
                    </div>
                  </div>
                </form>
                  {% endfor %}
              </div>

            <h5 class="text-center"> All Product </h5>
            <div class="container border mt-3">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Last Add Qty </th>
                  <th scope="col"> Last Sell Qty</th>
                  <th scope="col">Type</th>
                  <th scope="col">Stock Qty</th>
                  <th scope="col">Added By</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                  {% for p in all_stock %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{p.product.product_name}}</td>
                  <td>{% if p.add_qty == 0 %}{% else %}{{p.add_qty}}{% endif %}</td>
                  <td>{% if p.sell_qty == 0 %}{% else %}{{p.sell_qty}}{% endif %}</td>
                  <td>{% if p.type == None %}{% else %}{{p.type}}{% endif %}</td>
                  <td class="bg-info">{{p.stock_qty}}</td>
                  <td>{{p.employee.employee_name}}</td>
                  <td>{{p.added_date}}</td>
                </tr>
          
                {% endfor %}
              </tbody>
            </table>
            <!-- Pagination -->
 
  <div class="container">
    <div class="mx-5">
    <nav aria-label="...">
      <ul class="pagination">
        {% if all_stock.has_previous %}
        <li class="page-item ">
          <a class="page-link" href="/stock_product_admin/?page={{all_stock.previous_page_number}}">Previous</a>
        </li>
        <li class="page-item ">
       <a class="page-link" href="/stock_product_admin/?page=1" >First</a>
      </li>
        {% endif %}
  
        <li class="page-item " aria-current="page">
          <a class="page-link" href="/stock_product_admin/?page=2">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="/stock_product_admin/?page=3">3</a></li>
        {% if all_stock.has_next %}
        <li class="page-item">
          <a class="page-link" href="/stock_product_admin/?page={{all_stock.next_page_number}}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  </div>
  <!-- Pagination -->
          
            </div>
          {% endblock content %}
           </div>
    </div>
</div>
  
