{% extends 'office/base.html' %}
{% block title %} Store Dashboard{% endblock title %}
{% block content %}
{% load stock_tag %}
<style>

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
}

.pending_product_head{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
.pending_product_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
  text-align: center;

}


</style>




<div class="container">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
    {% if messages %}
                      
    {% for message in messages %}
    <div class="alert alert-success text-center mb-3">{{message}}</div>
    {% endfor %}
    {% endif %}
</div>

<div>
  <!-- Button trigger modal -->
<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
 Production Status
</a>
</div>
<div class="container">
    <h6 class="text-center"> Today Add Product </h6>
    <table class="table">
        <thead>
          <tr>
            <div class="row">
            <div class="col-2"><th>Name</th></div>
            <div class="col-2"><th>type</th></div>
            <div class="col-2"><th>Add qty</th></div>
            <div class="col-2"><th>Stock </th></div>
            </div>
        </tr>
        </thead>
        <tbody>{% for p in today_add_product %}
          <tr>
            <div class="row">
            <div class="col-2"> <td>{{p.product.product_name}}</td></div>
            <div class="col-2"><td>{{p.type}}</td></div>
            <div class="col-2"><td>add {{p.qty}}</td></div>
            <div class="col-2"><td>stock <strong class="text-success">{% call_stock p.product_id %}</strong></td></div>
            </div>
          </tr>
     
        {% endfor %}
        </tbody>
      </table>
</div>
<div class="container">
  <p>Search Product</p>
  <form method="GET" action="">
  <input type="text" class="form-control" name="search_product"  placeholder="Search Product">
  <button type="submit" class="btn btn-primary my-2" name="Search">Search</button>
</form>
</div>

<div class="container" >
    {% for p in product %}
    <div ><strong class="forl">{{forloop.counter}}</strong></div>  
    <form action="" method="POST">
        {% csrf_token %}
<div class="border text-center my-5" >
    <input type="hidden" name="product_id" value="{{p.id}}">
    <div class="my-1"><h3 > {{p.product_name}} </h3></div>
    <div class="row">
        <div class="col-4"><h6 > {{p.category}} </h6></div>
        <div class="col-4"><h6 >{{p.type}} </h6></div>
      </div>
      <div class="row">
      <div class="col-4 ">Stock<h6 class="text-success stock_qty"> {% call_stock p.id %}</h6></div>
      <div class="col-4 ">Order<h6 class="text-danger order_qty"> {% order_qty p.id %}</h6></div>
      <div class="col-4"><h6 id="set{{forloop.counter}}"></h6></div> 
    </div>
    <br>
    <div class="row mb-2 mx-1">
        <div class="col-4">
            <select id="type" class="form-control" name="type" required>
                <option value="">Type</option>
                <option value="production">production</option>
              <option value="return">Return</option>
            
                </select>
            </div>
        <div class="col-4"><input type="number" class="form-control" id="qty" name="qty" placeholder="QTY" required> </div>
        <div class="col-4"><button type="submit" class="btn btn-primary" name="Add">Add</button> </div>
    </div>
</div>
</form>
{% endfor %}
  </div>
  <a href="/store_logout" class="btn btn-danger my-1">Logout</a>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Productin Status List</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
  <div class="pending_product_head">
    <div>Name</div>
    <div>Order</div>
    <div>Stock</div>
    <div>Status</div>
  </div>
  <div class="pending_product_list">
    {% for p in pe %}
    <strong class="forl_modal" style="display: none;">{{forloop.counter}}</strong>
    <div>{{p.product_name}}</div>
    <div class="text-bg-danger order_qty_modal">{% order_qty p.product_id %}</div>
    <div class="text-bg-success stock_qty_modal">{% call_stock p.product_id %}</div>
    <div><strong id="set_modal{{forloop.counter}}"></strong></div>
    {% endfor %}
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% block script %}
<script>



const order_qty=document.querySelectorAll('.order_qty');
  const sqty=document.querySelectorAll('.stock_qty');
  const forl=document.querySelectorAll('.forl');
  //console.log(forl)
  
  stock(order_qty,sqty,forl)
  function stock(order_qty,sqty,forl){
    for (var key=0; key<order_qty.length; key++){
      stock_qty = sqty[key].innerText;
      o_qty = order_qty[key].innerText;
      fr = forl[key].innerText;
      console.log(stock_qty)
      document.getElementById('set'+ fr).innerHTML=`<h5 class="text-info">${stock_qty - o_qty}</h5>`


  
  
    }
  
  }
  

const order_qty_m=document.querySelectorAll('.order_qty_modal');
  const sqty_m=document.querySelectorAll('.stock_qty_modal');
  const forl_m=document.querySelectorAll('.forl_modal');
  //console.log(forl)
  
  stock_modal(order_qty_m,sqty_m,forl_m)
  function stock_modal(order_qty_m,sqty_m,forl_m){
    for (var key=0; key<order_qty_m.length; key++){
      stock_qty_m = sqty_m[key].innerText;
      o_qty_m = order_qty_m[key].innerText;
      fr_m = forl_m[key].innerText;
      console.log(stock_qty_m)
      document.getElementById('set_modal'+ fr_m).innerHTML=`<h5 class="text-danger">${stock_qty_m - o_qty_m}</h5>`


  
  
    }
  
  }
  


</script>
{% endblock script %}


{% endblock content %}