{% extends 'office/base.html' %}
{% load static %}
{% block title %} Store Dashboard{% endblock title %}
{% load qr_tag %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js" ></script>
{% endblock head %}
{% block content %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .sticky_foot{
    background-color: rgb(216, 216, 216);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2121212;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    input{
        width: 100%;
    }
    .sc_btn{
        border-radius: 50%;
    }
 }
    .voucher_name{
        background-color: rgb(205, 252, 255);
        border-radius: 10px;
        border: 2px solid rgb(138, 244, 252);
        width: fit-content;
        height: fit-content;
        padding: 10px;
        padding-top: 2px;
        padding-bottom: 1px;
        margin-left: auto;
        margin-right: auto;
    }

    .video_scan{
    transform: rotate(0deg);
    transform: scaleX(-1);
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
 }
 #preview{
    width: 100%;
    height: 100%;
     }

     .red_alert{  
    background-color: red;  
}
.scan_box{  
    animation: scan_border 3s 1;
    animation-direction: reverse;
}
@keyframes scan_border {
  0%   {

  }
  25%  {
    background-color: green;  
}
50%  {
      background-color: green;  
      
    }
    75%  {
      background-color: green;  
    
  }
  100% {

  }
}



    #last_ruselt{
        margin-top: -25px;
        margin-bottom: 10px;
    }
     .vou_main_box{
        margin-bottom: 10px;
     }
     .product_box{
    background-color: rgb(242, 217, 255);
    margin-bottom: 10px;
    padding: 5px;
 }
 .tag_summary{
        display: flex;
        gap: 10px;
        background-color: rgb(255, 232, 205);
        border-radius: 10px;
        border: 2px solid rgb(255, 205, 113);
        width: 90%;
        height: fit-content;
        padding: 10px;
        padding-top: 5px;
        padding-bottom:5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .tag_ruselt{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(231, 255, 198);
    .name{
        font-weight: 600;
    }
}
</style>
<div class="container">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
    <input type="hidden" id="e_id" value="{{e.id}}">
    <input type="hidden" id="e_name" value="{{e.employee_name}}">
    {% include 'include/alert.html' %}

</div>


<!--* content *-->
    <div id="scan_border">
        <div class="video_scan">
            <video  id="preview"></video>
        </div>
    </div>
    <div id="last_ruselt" class="text-center"></div>


{% if qr %}
    <div class="tag_ruselt">
        <div class="name">{{qr.product.product_name}}</div>
        <div class="tb" style="display: flex;justify-content: center;gap: 20px;">
            <div class="tag_number">{{qr.product.type}}</div>
            <div class="tag_number">Tag {{qr.tag_number}}</div>
        </div>
        <form method="POST"> {% csrf_token %}
            <input type="hidden" name="tag_id" value="{{qr.id}}">
            <input type="hidden" name="em_id" value="{{e.id}}">
            <input type="hidden" name="v_id" value="{{v.id}}">
            <button class="btn btn-success btn-sm my-1" name="Out_Product">Out Product</button>
        </form>
    </div>
{% endif %}


    <div class="voucher_name">
        <h6>Voucher Name {{v.name}}</h6>
        <input type="hidden" value="{{v.id}}" id="vid">
    </div>
    <div><br>
        <div class="vou_main_box" id="op_list">
            {% for p in op %}
            <div class="product_box">
                <div><strong>{{p.product.product_name}}</strong>&nbsp&nbsp&nbsp{% out_voucher_qty p.product_id p.voucher_id %}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <h6>Tag summary</h6>
        <div id="summary_list" >
            {% for p in ps %}
            <div class="tag_summary">
                <div>{{p.product.product_name}}</div>
                <div>Tag {{p.tag_number}}</div>
            </div>
            {% endfor %}

        </div>
    </div>


<a style="margin-top: 500px;margin-bottom: 100px;" href="/qr_code/out_product" class="btn btn-danger" >New Voucher</a>


<!--// end content //-->


<!--* sticky *-->
<div class="sticky_foot" >
    <form method="POST" style="display: flex;align-items: center;gap: 15px;">{% csrf_token %}
        <div><input value="{{tag_num}}" placeholder="Enter Tag Number" type="number" name="tag_number" class="form-control" required></div>
        <div><button class="btn btn-primary btn-sm" name="Tag_search">Search</button></div>
    </form>
</div>
<!--// end sticky //-->


<script>
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        let e_name = document.getElementById('e_name').value;
        Instascan.Camera.getCameras().then(function(cameras){
            if(cameras.length > 0){
                scanner.start(cameras[1]);
            }else{
                alert('No camera found');
                
            }
        }).catch(function(e) {
            console.error(e)
        });

        scanner.addListener('scan',function(c){
            $.ajax({
                url: "{% url 'out_stock' %}",
                method: "GET",
                data:{
                    tag_num:c,
                    e_id:document.getElementById('e_id').value,
                    vid:document.getElementById('vid').value,
            },
            success: function(res){
                document.getElementById('last_ruselt').innerHTML=`${res.p_name}&nbsp&nbspTag&nbsp${c}`
                //$("#last_ruselt").html(res.p_name),(c);
                $("#op_list").html(res.t);
                $("#summary_list").html(res.s);
                if(res.status == 1){
                    //success_audio()
                    //speak code
                    $("#scan_border").addClass('scan_box');
                setTimeout(function() {
                    $("#scan_border").removeClass('scan_box');
                }, 4000);

                    const msg = new SpeechSynthesisUtterance;
                    msg.text=`Out`;
                    msg.voice=speechSynthesis.getVoices()[1];
                    speechSynthesis.speak(msg);
                }
                else if (res.status == 0){
                    $("#scan_border").addClass('red_alert');
                setTimeout(function() {
                    $("#scan_border").removeClass('red_alert');
                }, 5000);


                    //fele_audio()
                    const msg = new SpeechSynthesisUtterance;
                    msg.text=`Rong Qr Code mister ${e_name} Plese Chack and try againn`;
                    msg.voice=speechSynthesis.getVoices()[1];
                    speechSynthesis.speak(msg);
                    alert('Rong Qr Code')
                }
                else if (res.status == 2){
                    $("#scan_border").addClass('red_alert');
                setTimeout(function() {
                    $("#scan_border").removeClass('red_alert');
                }, 5000);

                    const msg = new SpeechSynthesisUtterance;
                    msg.text=` Qr Code Already Scaned Plese Chack and try again ${res.p_name} mister ${e_name} `;
                    msg.voice=speechSynthesis.getVoices()[1];
                    speechSynthesis.speak(msg);
                    //fele_audio()
                    alert('Already Scaned')
                }
                else if (res.status == 3){
                    $("#scan_border").addClass('red_alert');
                setTimeout(function() {
                    $("#scan_border").removeClass('red_alert');
                }, 5000);

                    const msg = new SpeechSynthesisUtterance;
                    msg.text=` Qr Code Not Added In Production Plese Add and try again ${res.p_name} mister ${e_name} `;
                    msg.voice=speechSynthesis.getVoices()[1];
                    speechSynthesis.speak(msg);
                    //fele_audio()
                    alert('Qr Code Not Added In Production')
                }

            }
    })
        })
</script>



{% endblock content %}