{% extends 'office/base.html' %}
{% block title %} Cancel view order {% endblock title %}
{% block content %}

<style>


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
}



.dealer_box{
    
    padding: 5px;
    display: grid;
    grid-template-columns: 100%;
    
}
.titale{
    text-align: center;
}
.address{
    text-align: center;
}
.dealer_content{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.list_box{
    border: solid 1px black;
    padding: 2px;
}

.list_title{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid black;
}







.cart_list{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 2rem;
    border-bottom: 1px solid black;
}


</style>

<input type="hidden" id="employee_id" value="{{e.id}}"></input>
<input type="hidden" id="dealer_id" value="{{d.id}}"></input>

<div class="container mt-5">
    <div class=""><h>Welcome - {{e.employee_name}}</h></div>
</div>


<div class="dealer_box">
    <div class="titale"><h5>{{d.dealer_shope_name}}</h5></div>
    <div class="address"><h6>{{d.dealer_address}}</h6></div>
    <div class="dealer_content">
        <div class="dealer_name">name- {{d.dealer_name}}</div>
        <div class="mobile">Mobile- {{d.dealer_mobile}}</div>
    </div>

      </div>





 <div class="list_box">
<div class="list_title">
    <div>Product Name</div>
    <div>Qty</div>
    <div>Price</div>
    <div>Total Price</div>
    <div>Action</div>
    
</div>
<div id="cart_result">
{% for o in o %}
<div  class="cart_list">
    <div>{{o.product_name}}</div>  
    <div>{{o.qty}}</div>
    <div>{{o.price}}</div>
    <div>{{o.total_price}}</div> 
    <div>{{o.stock_status}}</div> 
    
</div>
{% endfor %}
</div>     






Total Amount Rs.<input type="readonly" id="total_amount" value="{{total}}" size=5 class="text-center" disabled></input>
<h5>Thank You Visit Again</h5>

</div>

<form class="" method="POST">{% csrf_token %}
    
    {% if oms.status == 'Pending' %}
    <input type="hidden" name="order_master_id" value="{{oms.id}}">
    <button class="btn btn-danger btn-sm my-1" type="submit" name="Cancel_order">Cancel Order</button>
    {% else %}
    Cancel 
    {% endif %}
</form>


<div>

</div>

<div  style="display: none;">
    {% for s in stock %}
    <div class="row">
        <div class="col"><strong class="spid">{{s.product_id}}</strong></div>  
        <div  class="col">{{s.product.product_name}}</div>  
        <div  class="col"><strong class="sqty">{{s.stock_qty}}</strong> </div>

        <div></div>
    </div>
    {% endfor %}
    </div>     
    


{% endblock content %}
